<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

    <!-- Форма для редактирования объекта, положенного в модель как EditableObject -->
    <!-- Отправляется на контроллер get -->
    <form th:method="POST" th:action="@{/}" th:object="${EditableObject}">

        <!-- Единственное редактируемое поле объекта -->
        <label for="textField">Поле textField</label>
        <input type="text" th:field="*{textField}" id="textField">

        <!-- Если валидатор нашел ошибки, то показываем их -->
        <div th:each="error : ${errors}">
            <p th:text="${error}"></p>
        </div>

    </form>

</body>
</html>